
body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(72, 133, 110) ;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: black;
    padding: 2em 0;
    justify-content: space-between;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    padding: 2em;

}

a{
    cursor: pointer;
}

main{
   background-color: rgb(72, 133, 110);
    max-width: 120000px;

}

.maind{
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    padding: 2em;
    gap: 2em;
    align-items: center;
}

.img {
    flex-wrap: wrap;
     flex: 1;
    min-width: 250px;
}

.statement {
    color: white;
    flex: 1; 
    align-items: center;
    text-align: left;
}

.img img {

    height: 500px;
    border-radius: 30px;
}

button{
    color: rgb(72, 133, 110);
    background-color: rgb(255, 255, 255);
     width: 200px;
     height: 60px;
      border: 0;
      border-radius: 50px;
    box-shadow: 2px 3px 4px 0px rgb(166, 250, 218);
     
}

button:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 133, 110);

}